@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    text-align: center;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

.content {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

li {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #07bef3;
    border-radius: 8px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    padding: 6px 16px;
}